body {
    background-color: #F8c5Cf !important;
    font-family: "SoleilRegular" !important;
    color: #E5161F !important;
    font-size: 20px !important;
}

#main {
    margin-top: 30px;
}

#logo {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#logo_nav {
    width: 100px;
    height: auto;
}

.gallery {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 11px 9px 16px 0px #f87d95;
}

#footer {
    padding-top: 100px;
    width: 100%;
    height: auto;
}

.portrait {
    width: 100%;
    height: auto;
}

#content {
    border-radius: 10px;
    padding: 10px;
}

@font-face {
    font-family: "SoleilBold";
    src: url("../font/SoleilBold.otf") format("truetype");
}

@font-face {
    font-family: "SoleilRegular";
    src: url("../font/SoleilRegular.otf") format("truetype");
}

h1,
h2,
h3,
a {
    font-family: "SoleilBold";
    color: #E5161F !important;
}

#header {
    background-color: #f7a2b3;
    margin-right: 0px;
    margin-left: 0px;
}

header a {
    font-size: 20px;
    text-decoration: none;
    color: #E5161F !important;
}

.justify-content-center .dropdown-menu,
.justify-content-center .dropdown-menu a:hover {
    background-color: #F8c5Cf;
}

header a:hover,
header a:active,
.active {
    color: #f6e6d2 !important;
}

@media (min-width: 1368px) {
    .justify-content-center .dropdown-menu {
        left: 50%;
        transform: translate(+5%, 0);
    }
}

@media (min-width: 1568px) {
    .justify-content-center .dropdown-menu {
        left: 50%;
        transform: translate(+10%, 0);
    }
}

@media (min-width: 1668px) {
    .justify-content-center .dropdown-menu {
        left: 50%;
        transform: translate(+15%, 0);
    }
}

.btn,
input,
textarea {
    background-color: #f6e6d2 !important;
}

#map {
    height: 350px;
    width: 90%;
}

.text-justify {
    margin: 0;
    text-align: justify;
}

label {
    padding: 7px;
    margin-top: 1px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    padding-bottom: 20px;
}

.box-content {
    background-color: #f6e6d2;
    border-radius: 5px;
    box-shadow: 11px 9px 16px 0px #f87d95;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

.image-content {
    border-radius: 5% 10%;
    width: auto !important;
    height: 200px !important;
    display: inline;
}